<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My gallery</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<h1>MY GALLERY</h1>
<img src="{% static 'images/bmwx1.jpeg' %}" alt="">
<img src="{% static 'images/bmwx5.jpeg' %}" alt="">
<img src="{% static 'images/bmwx6.jpeg' %}" alt="">
<img src="{% static 'images/first.jpeg' %}" alt="">
<img src="{% static 'images/fitth.jpeg' %}" alt="">
<img src="{% static 'images/fourth.jpeg' %}" alt="">
<img src="{% static 'images/second.jpeg' %}" alt="">
<img src="{% static 'images/seventh.jpeg' %}" alt="">
<img src="{% static 'images/sixth.jpeg' %}" alt="">
<img src="{% static 'images/seventh.jpeg' %}" alt="">
<img src="{% static 'images/third.jpeg' %}" alt="">

</body>
</html>